.page-footer {
    background: #0d0d0d;
    height: 60px;

    .footer-link {
        color: white;
        text-decoration: none;
        border-top: 2px solid #979797;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-size: 24px;
    }
}
